APP_NAME=
APP_PORT=
MONGODB_HOST=
MONGODB_DATABASE=
MONGODB_ROOT_PASSWORD=
MONGODB_ROOT_USER=

REDIST_HOST=
REDIST_PASSWORD=
REDIST_DB=

X_API_KEY=

JWT_SECRET=


# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN=

# Our Auth0 application's Client ID.
AUTH0_CLIENT_ID=

# Our Auth0 application's Client Secret.
AUTH0_CLIENT_SECRET=

# The Callback URL of our application.
AUTH0_CALLBACK_URL=

AUTH0_API_IDENTIFIER=